@charset "UTF-8";


/* ---------- DIV LOGO ---------- */

    .logo {
        background-image: url("../img/Imagens_de_fundo/fundo_medio.jpg");
        background-position: center center;
        background-size: cover;
        position: relative;
        padding: 40px 0px 60px 0px;

        text-align: center;
        font-family: var(--fonte_conteudo);
        font-size: 20px;
    }

    .logo > img {
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logo button {
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 10px;
        margin: 20px 10px;
        font-weight: bold;
        font-size: 15px;
    }

    #botao_participante {
        color: var(--rosa);
        border: solid 2px var(--rosa);
    }

    #botao_ex_participante {
        color: var(--amarelo);
        border: solid 2px var(--amarelo);
    }

    .logo_texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
    }

/* ---------- DIV SOBRE A MARATONA ---------- */

    .sobre_maratona {
        width: 100%;
        background-color: var(--cinza_1);
        display: flex;
        align-items: center;
    }

    .imagem_maratona {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .imagem_maratona img{
        width: 70%;
    }
    
    .imagem_maratona a {
        font-family: var(--fonte_conteudo);
        text-align: center;
        text-transform: uppercase;
        color: var(--laranja_2);
        font-weight: bold;

    }

    .barra_vertical {
        background-color: var(--laranja_2);
        width: 10px;
        height: 400px;
    }
    
    .conteudo_maratona {
        margin: auto;
        width: 150%;
        /* max-width: 1100px; */
        /* min-width: 300px; */
        padding: 60px;
    }
    
    .conteudo_maratona > h1 {
        color: var(--laranja_2);
        text-transform: uppercase;
        padding: 5px;
    }
    
    .conteudo_maratona > p {
        padding: 5px 5px 13px 5px;
        text-align: justify;
    }
    
    .conteudo_maratona > a {
        text-decoration: none;
        color: var(--laranja_2);
        border: 4px solid var(--laranja_2);
        padding: 5px;
        display: inline-block;
        margin: auto;
    }
  
    /* Parte da Imagem */
    .picture-wrapper {
        text-align: center;
    }
      
    .picture {
    max-width: 100%;
    height: auto;
    }
    
    @media (max-width: 600px) {
    .picture {
        max-width: 250px;
    }
    }

    /* Parte dos títulos */
    #titulo1 {
        font-family: var(--fonte_conteudo);
        font-weight: bolder;
        font-size: 2.6em;
    }
    
    #titulo2 {
        font-family: var(--fonte_titulo_4);
        text-decoration: none;
        font-size: 2em;
        padding-bottom: 20px;
    }
    
    /* Parte do botão */
    #botao_saiba_mais { 
        text-decoration: none;
        color: var(--laranja_2);
        border: 4px solid var(--laranja_2);
        padding: 5px;
        display: inline-block;
        margin: auto;
    }

/* ---------- DIV CARROSSEL ---------- */


    .container-pai-carrossel {
        background-color: var(--cinza_2);
    }

    .carousel {
        position: relative;
        width: 100%;
        height: 100%; /* Ajuste a altura conforme necessário */
        margin: 0 auto; /* Centralizar horizontalmente */
        overflow: hidden;
        background-color: var(--cinza_1);
    }
    
    @media (max-width: 900px) {
        .carousel {
            width: 100%;
            max-height: 400px;
        }
    }
  
    .carousel img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .carousel img.active {
        display: block;
    }
    
    .carousel-navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    
    .carousel-navigation div {
        font-size: 24px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px;
        cursor: pointer;
    }
    
    .carousel-navigation .prev-button {
        margin-right: auto;
    }
    
    .carousel-navigation .next-button {
        margin-left: auto;
    }
  

/* ---------- DIV INFORMAÇÕES RESUMIDAS ---------- */

    .info_duvidas {
        display: flex;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .info_resumida {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centralizar verticalmente */
        background-color: var(--cinza_2);
        padding: 50px;
        width: 50%;
    }
    
    .boxB1 {
        position: relative;
        width: 80%;
        max-width: 900px; /* Largura máxima de 900px */
        height: 120px;
        padding: 20px;
        margin: 0 auto; /* Centralizar horizontalmente */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .deslocada {
        position: absolute;
        width: 80%;
        max-width: 900px; /* Largura máxima de 900px */
        height: 120px;
        border: 3px solid var(--amarelo);
        transform: translate(10px, 10px);
        z-index: 1;

    }
    
    .conteudo-box {
        background-color: var(--laranja_2);
        position: absolute;
        width: 80%;
        max-width: 900px; /* Largura máxima de 900px */
        height: 120px;
        border: 3px solid var(--amarelo);
        z-index: 2;

    }
    
    .boxB1 h2 {
        color: white;
        margin: 0;
        padding: 5px 5px 0px 5px;
        font-family: var(--fonte_titulo_4);
        text-transform: uppercase;
        font-weight: normal;
        font-size: 3em;
    }
    
    .boxB1 p {
        color: white;
        margin: 0;
        padding: 5px;
        padding-top: 2px;
        padding-left: 10px;
    }

    @media (max-width: 900px) {

        .boxB1 h2{
            font-size: 2.5em;
        }

        .conteudo-box {
            width: 90%;
            height: 130px;
        }

        .deslocada {
            width: 90%;
            height: 130px;
        }

        
    }
      
/* ---------- DIV FORMULÁRIO DÚVIDAS FREQUENTES ---------- */
    .barra_horizontal {
        background-color: var(--branco);
        width: 100%;
        height: 3px;
        margin: 10px 0px;
    }

    .formulario {
        font-family: var(--fonte_conteudo);
        padding: 50px;
        text-transform: uppercase;
        text-align: center;
    }

    .formulario h2 {
        color: var(--amarelo);
        font-family: var(--fonte_titulo_3);
        font-weight: normal;
        font-size: 3em;
    }

    .box_formulario {
        border: var(--branco) solid 3px;
        margin: 20px 0px;
        padding: 10px 5px;
    }

    .box_formulario p {
        color: var(--amarelo);
        text-align: left;
    }

    #box_duvida {
        padding: 40px 5px;
    }

    .botao_formulario {
        background-color: black;
        border: var(--amarelo) solid 3px;
        color: var(--branco);
        text-transform: uppercase;
        padding: 10px 15px;
        margin: 20px;
    }


/* ---------- DIV RESULTADOS ---------- */


    .resultados {
        background-color: var(--laranja_2);
        text-align: center;
    }

    .img-result {
        background-image: url("../img/Imagens_gerais/imagem_exemplo.jpg");
        background-position: center center;
        background-size: cover;
        position: relative;
        /* padding: 40px 0px 60px 0px; */

        height: 450px;
        opacity: 0.5; /* Opacidade da imagem */

    }

    .result_titulo {
        height: auto;
        background-color: var(--cinza_1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .result_titulo h2 {
        color: var(--amarelo);
        font-family: var(--fonte_titulo_3);
        font-weight: normal;
        font-size: 4em;
        text-transform: uppercase;
        padding: 20px;
    }

    .botoes {
        padding: 10px;
        padding-bottom: 15px;
    }

    .result_button {
        border: 4px solid var(--amarelo);
        background-color: transparent;
        padding: 4px 8px;
        margin-right: 10px;
        text-decoration: none;
        display: inline-block;
    }

    .result_button a {
        color: var(--azul);
        text-decoration: none;
        font-family: var(--fonte_titulo_3);
        text-transform: uppercase;
        font-size: 2.5em;;
        padding: 6px;
    }

    .result_button:hover {
        background-color: var(--amarelo);
        color: var(--cinza_4);
        transition: background-color 0.3s ease;
    }

    .result_button > a:hover {
        color: var(--cinza_4);
        transition: background-color 0.3s ease;
    }

    @media (max-width: 768px) {
        .result_titulo {
            height: 200px;
        }
        
        .result_titulo h2 {
            font-size: 3.1em;
        }

        .result_button a {
            font-size: 1.8em;;
        }
    }

/* ---------- DIV SITES RECOMENDADOS ---------- */

    .sites-maratona {
        height: auto;      
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }

    .box-sites {
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
        width: 100%;
        gap: 10%;
    }

    .box_site {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;
        width: 200px;
        padding: 30px;
        background-color: var(--laranja_2);
        text-align: center;
        flex-basis: 30%;
        border: var(--amarelo) solid 3px;
    }


    .box_site img {
        align-self: stretch;
        /* border: 4px solid var(--laranja_1); */
        /* max-width: 80px; */
        width: 60%;
    }

    #logo_sbc {
        height: 110px;
        width: auto;
    }

    .box_site a {
        font-family: var(--fonte_conteudo);
        /* font-variant: small-caps; */
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    
    .box_site_nome {
        font-size: 20px;
        color: var(--branco);
        text-decoration: none;
    }
    
    .box_site_link {
        color: var(--amarelo);
        font-size: 15px;
    }


    #titulo3 {
        background-color: black;
        text-align: center;
        font-family: var(--fonte_titulo_4);
        font-size: 1.5em;
        color: var(--branco);
        padding: 90px;
        text-transform: uppercase;
    }
    
    @media (max-width: 768px) {
        .box-sites {
            height: auto;
            flex-direction: column;
            padding: 10px;
        }
        .box-sites > a { 
            height: auto;
        }
        .box_site {
            padding: 20px;
            height: auto;
            margin: 10px;
        }

        #titulo3 {
            font-size: 1em;
            padding: 60px;
        }
    }

#div_footer {
    width: 98%;
}

