@charset "UTF-8";

/* --------- PARTE DO LOGO ----------*/
.logo {
    background-image: url("Imagens/Imagens_de_fundo/fundo_medio.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 40px 0px 50px 0px;
}

.logo > img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ------ SOBRE A MARATONA ------- */

.sobre_maratona {
    background-color: var(--cinza_1);
}

.sobre_maratona > .img_sm {
    display: inline-block;
    width: 30%;
    max-width: 500px;
}

.sobre_maratona > .conteudo_sm {
    display: inline-block;
    width: 65%;
    padding: 10px;
}

.sobre_maratona > .conteudo_sm > h1 {
    text-transform: uppercase;
    color: var(--laranja_2);
    padding: 10px 10px 0px 20px;
}

.sobre_maratona > .conteudo_sm > #titulo1 {
    font-family: var(--fonte_conteudo);
    font-weight: bolder;
    font-size: 2.6em;
}

.sobre_maratona > .conteudo_sm > #titulo2 {
    font-family: var(--fonte_titulo_4);
    text-decoration: none;
    font-size: 2em;
    padding-bottom: 20px;
}

.sobre_maratona > .conteudo_sm > p {
    padding: 10px 10px 10px 20px;
}