@charset "UTF-8";

/* Configurações para o Menu - Header e Nav (Por enquanto)*/

/* ---------- CONFIGURAÇÕES HEADER ---------- */

header {
    padding: 8px;
    text-align: center;
    background-color: var(--cinza_4);
    color: white;
}

header > .titulo {
    margin: 5px;
    padding: 10px 0px 5px 0px;
    text-shadow: 1px 1px 0px var(--azul);
    text-decoration: none;
    color: white;
}

header > p {
    padding-top: 0px;
    padding-bottom: 15px;
}

/* ---------- CONFIGURAÇÕES NAV ---------- */

nav {
    background-color: var(--cinza_1);
    text-align: center;
    cursor: pointer;
}


nav > p > a {
    color: white;
    text-decoration: none;
    padding: 7px 5px 7px 5px;
    transition-duration: 0.5s;
    font-size: 0.8em;
    display: inline-block
}

nav > p > a:hover {
    padding: 7px 15px 7px 15px;
    transition-duration: 0.5s;
    background-color: var(--rosa);
    color: white;
}

nav > p > a::selection {
    color: var(--amarelo);
}



